<div class = "container-sm" >
  <div class = "row">
    <div class ="title-name">
        <h2 style="display:inline">商品一覧 </h2> <p style="display:inline">(全<%= @posts.count %>件)</p>
    </div>
  </div>
  <%= render 'public/searches/search' %>
  <%= form_tag public_posts_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :category_id,
       options_from_collection_for_select(Category.all, :id, :category, params[:category_id]),
       {
         prompt: 'タグで絞り込み検索',
         onchange: 'submit(this.form);'
       }
      %>
    <% end %>

  <div class = "row">
    <% @posts.each do |post| %>

      <div class="index-card">
        <%= link_to public_post_path(post.id), {class: "link"} do %>
          <div class = "index-body">
            <%= image_tag post.get_post_image(150, 150) %>
          </div>
          <div class="index-title">
            <%= post.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>