<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-offset-3"></div>
    <div class="col-sm-6">
      <%= link_to public_customer_path(@post.customer.id) do %>
        <%= image_tag @post.customer.get_profile_image(50, 50) %>
        <%= @post.customer.name %>
      <% end %>
      <br>
      <h2><%= @post.title %></h2>
      <h4>カテゴリ：<%= @post.category.category %></h4>
        <div id="star-rate<%= @post.id%>"></div>
         <script>
          $('#star-rate<%= @post.id %>').empty();
          $('#star-rate<%= @post.id%>').raty({
             size      : 36,
             starOff   : '<%= asset_path('star-off.png') %>',
             starOn    : '<%= asset_path('star-on.png') %>',
             half      : false,
             readOnly: true,
             score: <%= @post.star %>,
           });
        </script><br>

      <%= image_tag @post.get_post_image(250, 250), class: "post-image"; %>
      <br>
      <h4><%= @post.body %></h4>
      <div class = "fav">

        <% if  @post.customer ==current_customer  %>
        <% else %>
        <%= render "public/likes/like", post: @post %>
          <div class='star-btn' id="favorite_<%= @post.id %>">
            <%= render "public/favorites/favorite", post: @post %>
          </div>
        <% end %>

      </div>

      <div>
        <h5>コメント件数：<%= @post.comments.count %></h5>
        <% @post.comments.each do |comment| %>
          <h4><%= image_tag comment.customer.get_profile_image(50, 50) %><%= comment.customer.name %><span style='font-size : 12px;'><%= comment.created_at.strftime('%Y/%m/%d') %></span></h4>
          <h4>
            <%= comment.comment %>
            <span>
              <% if comment.customer == current_customer %>
                <%= link_to "Destroy", public_post_comment_path(@post, comment), method: :delete, class: "btn btn-danger" %>
              <% end %>
            </span>
          </h4>
        <% end %>
      </div>
      <div>
        <% if current_customer.name != "guestuser" %>
          <%= form_with model: [@post,@comment], url: public_post_comments_path(@post), method: :post do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class:"form-control" %>
            <%= f.submit "送信する",class:'btn btn-sm btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



