
      <% if customers.exists? %>
        <table class= "table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% customers.each do |customer| %>
              <tr>
                <td><%= image_tag customer.get_profile_image(50, 50) %></td>
                <td><%= customer.name %></td>
                <td>フォロー数: <%= customer.followings.count %></td>
                <td>フォロワー数: <%= customer.followers.count %></td>
                <td><%= link_to 'Show', public_customer_path(customer.id), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% else %>
          <p>ユーザーはいません</p>
      <% end %>
