<div class = "container">
  <div class = "row">
    <div class = "col-sm-3"></div>
    <div class = "col-sm-6">
      <div class = "box">
        <div class = "box-inner">
          <h2>ログイン</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="box-email">
              <%= f.label :email, "Eメール" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="box-password">
              <%= f.label :password, "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>



            <div class="box-login">
              <%= f.submit "ログイン" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="remember">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "ログインしたままにする" %>
              </div>
            <% end %>
          <% end %>

          <div class="box-newusr">
            <p><span>---------</span> DeviceShareの新しいお客様ですか？ <span>---------</span></p>
            <%= link_to "DeviceShareアカウントを作成", new_registration_path(resource_name) %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>