<header>
  <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span></span></a>
        <div>
          <p class="text-white">
          <% if customer_signed_in? %>
          ようこそ<%= current_customer.name %>さん
         <% end %>
         </p>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


        <% if customer_signed_in? %>
          <li>
            <%=  link_to public_posts_path,class: 'nav-link text-light' do %>
              投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to public_customer_path(current_customer),class: 'nav-link text-light' do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
               ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%=  link_to admin_posts_path,class: 'nav-link text-light' do %>
              投稿一覧
            <% end %>
          </li>
            <li>
            <%=  link_to admin_customers_path,class: 'nav-link text-light' do %>
              会員一覧
            <% end %>
          </li>
           <li>
            <%=  link_to admin_categories_path,class: 'nav-link text-light' do %>
              カテゴリ一覧
            <% end %>
          </li>
           <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
            ログアウト
            <% end %>
           </li>
            <% else %>
            <li>
              <%= link_to homes_about_path,class: 'nav-link text-light' do %>
                about
              <% end %>
          </li>
           <li>
            <%=  link_to public_posts_path,class: 'nav-link text-light' do %>
              商品一覧
            <% end %>
            </li>
            <li>
            <%= link_to new_customer_registration_path ,class: 'nav-link text-light' do %>
              新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path,class: 'nav-link text-light' do %>
               ログイン
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
